/* ----general-styling---- */
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background: #121213;
    display: grid;
    place-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 95vh;
}

/* ----playlist---- */

header .playlist{
    width: 25%;
    height: 90%;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

/* playlist nav */
header .playlist h1{
    font-size: 30px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

/* playlist queue */
header .playlist .queue{
    margin: 40px 0px 0px 20px;
}

header .playlist .queue h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}

header .playlist .queue h4:hover{
    color: #fff;
}

header .playlist .queue h4 span{
    position: relative;
    margin-right: 35px;
}

header .playlist .queue h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: 0.3s linear;
}

header .playlist .queue h4:hover span::before{
    border: 2px solid #fff;
}

header .playlist .queue h4 i{
    display: none;
}

/* this is the active class which will be applied when a link is active by default first link is active you can see on webpage */
header .playlist .queue .active{
    color: #36e2ec;
}

header .playlist .queue .active span{
    display: none;
}

header .playlist .queue .active i{
    display: flex;
    margin-right: 20px;
}

header .playlist .menu {
    width: 100%;
    height: 550px;
    margin-top: 40px;
    overflow: auto;
}

header .playlist .menu::-webkit-scrollbar{
    display: none;
}

header .playlist .menu li{
    list-style: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear;
    height: 80px;
}

header .playlist .menu li:hover{
    background: rgb(105, 105, 105, .1);
}

header .playlist .menu li img{
    height: 50px;
    width: 50px;
    margin-left: 25px;
}

header .playlist .menu li h5{
    font-size: 15px;
    margin-left: 15px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .playlist .menu li h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
}

header .playlist .menu li i{
    margin-left: 80px;
}

/* ----master-play---- */

header .master-play{
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master-play .wave{
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin: 0px 10px 0px 10px;
}

header .master-play .wave .waves{
    width: 5px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
    border: 1px solid #36e2ec;
    margin: 0px 0px 5px 5px;
}

/* -----javascript class----- */

header .master-play .active .waves{
    animation: waves 0.5s linear infinite;
}

header .master-play .active .waves:nth-child(2){
    height: 13px;
    animation-delay: 0.4s;
}

header .master-play .active .waves:nth-child(3){
    height: 8px;
    animation-delay: 0.8s;
}

@keyframes waves{
    0%{
        height: 10px;;
    }
    50%{
        height: 20px;
    }
    100%{
        height: 10px;
    }
}

header .master-play img{
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

header .master-play h5{
    width: 130px;
    color: #fff;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

header .master-play h5 .subtitle{
    width: 130px;
    font-size: 15px;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .master-play .icon{
    height: auto;
    width: 150px;
    color: #fff;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
    outline: none;
    display: flex;
    justify-content: space-between;
}

header .master-play .icon i{
    cursor: pointer;
    outline: none;
}

header .master-play #timestart{
    color: #fff;
    width: 45px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 0px 20px;
}

header .master-play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(150, 150, 170, .1);
}

header .master-play .bar .progressBar{
    position: absolute;
    width: 0%;
    height: 100%;
    background: #36e2ec;
    top: 0;
}

header .master-play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    top: -2px;
}

header .master-play .bar .dot::before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    top: -9px;
    left: -8px;
    box-shadow: 0px 0px 5px #36e2ec inset;
}

header .master-play .bar input{
    position: absolute;
    width: 100%;
    top: -9px;
    left: 0px;
    z-index: 99999999999999;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

header .master-play #timeend{
    color: #fff;
    width: 45px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 0px 15px;
}

header .master-play .vol{
    position: relative;
    width: 250px;
    height: 2px;
    background: rgb(105,105,107,.1);
    margin-left: 50px;
}

header .master-play .vol i{
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: -9px;
    left: -30px;
}

header .master-play .vol input{
    position: absolute;
    width: 100%;
    top: -9px;
    left: 0px;
    cursor: pointer;
    z-index: 999999999999;
    z-index: 1;
    opacity: 0;
}

header .master-play .vol .vol-bar{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
}

header .master-play .vol .vol-dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -2px;
}

header .master-play .vol .vol-dot::before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    top: -9px;
    left: -8px;
    box-shadow: 0px 0px 5px #36e2ec inset;
}

/* ----song-side---- */

header .song{
    width: 75%;
    height: 90%;
    background: #0b1320;
    color: #fff;
    overflow: auto;
}

header .song::-webkit-scrollbar{
    display: none;
}

/* navigation */
header .song nav{
    width: 95%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song nav ul{
    display: flex;
    justify-content: space-evenly;
}

header .song nav ul li{
    list-style: none;
    position: relative;
    font-size: 13px;
    margin-right: 25px;
    cursor: pointer;
    color: #4c5262;
    transition: 0.3s linear;
}

header .song nav ul li:hover{
    color: #fff;
}

header .song nav ul li:nth-child(1){
    color: #fff;
}

header .song nav ul li span{
    position: absolute;
    height: 3px;
    width: 100%;
    background: #36e2ec;
    left: 0px;
    bottom: -10px;
}

/* search bar */
header .song nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
    cursor: text;
}

header .song nav .search .search-results .card{
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}

header .song nav .search .search-results .card img{
    width: 60px;
    height: 60px;
}

header .song nav .search .search-results .card .content{
    width: 80%;
    height: 100%;
    font-size: 18px;
    font-weight: 600px;
    color: white;
}

header .song nav .search .search-results .card .content .subtitle{
    font-size: 10px;
    color: #a4a8b4;
}

header .song nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(150, 150, 150);
    left: 0px;
    top: -0.5px;
    opacity: 0.2;
}

header .song nav .search i{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}

/* user image */
header .song nav .user{
    position: relative;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

header .song nav .user img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #121213;
}

/* dropdown menu */
header .song nav .user #dropdown{
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: 0.1s linear;
    display: grid;
    place-items: center;
}

header .song nav .user #dropdown:target{
    position: absolute;
    margin-top: 70px;
    margin-left: -150px;
    background: #111727;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: 3px solid #36e2ec;
    z-index: 1;
}

header .song nav .user #dropdown a i{
    margin-left: 170px;
    margin-top: 15px;
    color: #4c5262;
    transition: 0.3S linear;
}

header .song nav .user #dropdown a:hover i{
    margin-left: 170px;
    margin-top: 15px;
    color: #fff;
}

header .song nav .user #dropdown span{
    font-size: 25px;
    cursor: pointer;
    transition: 0.5S linear;
    color: #4c5262;
    margin-bottom: 5px;
    text-decoration: underline;
}

header .song nav .user #dropdown span:hover{
    color: #fff;
    text-decoration: underline;
}

/* posters */
header .song .banner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}

header .song .banner img{
    height: 100%;
    width: 300px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

header .song .banner img:hover{
    transform: scale(1.1);
}


/* popular songs */
header .song .popular-songs{
    width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

header .song .popular-songs .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
}

header .song .popular-songs .heading h4{
    font-size: 20px;
}

header .song .popular-songs .heading span i{
    cursor: pointer;
    color: #4c5262;
    transition: 0.3s linear;
    margin: 0px 10px 0px 10px;
}

header .song .popular-songs .heading span i:hover{
    color: #fff;
}

header .song .popular-songs .popular-song {
    display: flex;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
}

header .song .popular-songs .popular-song::-webkit-scrollbar {
    display: none;
}

header .song .popular-songs .popular-song .song-item{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 180px;
    list-style: none;
    margin-right: 10px;
    transition: 0.3s linear;
}

header .song .popular-songs .popular-song .song-item:hover{
    background: rgb(105, 105, 170, 0.1);
}

header .song .popular-songs .popular-song .song-item .image-play{
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .song .popular-songs .popular-song .song-item .image-play img{
    position: relative;
    height: 100%;
    width: 100%;
}

header .song .popular-songs .popular-song .song-item .image-play i{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 0;
}   

header .song .popular-songs .popular-song .song-item:hover .image-play i{
    opacity: 1;
}    

header .song .popular-songs .popular-song h5{
    padding: 5px 0px 0px 5px;
    font-size: 15px;
    line-height: 25px;
    width: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}    

header .song .popular-songs .popular-song .song-item h5 .subtitle{
    color: #4c5262;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}  

/* popular artists */
header .song .popular-artists{
    width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 25px;
}  

header .song .popular-artists .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
}  

header .song .popular-artists .heading h5{
    font-size: 20px;
}  

header .song .popular-artists .heading i{
    color: #4c5262;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    transition: 0.3s linear;
}  

header .song .popular-artists .heading i:hover{
    color: #fff;
}  

header .song .popular-artists .popular-artist {
    display: flex;
    height:170px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
}

header .song .popular-artists .popular-artist::-webkit-scrollbar {
    display: none;
}

header .song .popular-artists .popular-artist .artist-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: auto;
    list-style: none;
    margin-right: 10px;
    transition: 0.3s linear;
    text-align: center;
}

header .song .popular-artists .popular-artist .artist-item:hover{
    background: rgb(105, 105, 170, 0.1);
}

header .song .popular-artists .popular-artist .artist-item .image-play{
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .song .popular-artists .popular-artist .artist-item .image-play img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

header .song .popular-artists .popular-artists .artist-item h5{
    padding: 5px 0px 0px 5px;
    font-size: 15px;
    line-height: 25px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}    

header .song .popular-artists .popular-artist .artist-item h5 .subtitle{
    color: #4c5262;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}  

/* latest-release */

header .song .latest-release{
    width: 90%;
    height: auto;
    margin: auto;
}

header .song .latest-release .heading{
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
}

header .song .latest-release .heading h5{
    font-size: 20px;
}

header .song .latest-release .list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header .song .latest-release .list li{
    display: flex;
    height: 200px;
    width: 450px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    transition: 0.3s linear;
}

header .song .latest-release .list li:hover{
    background: #111727;
}

header .song .latest-release .list li img{
    height: 200px;
    width: 200px;
}

header .song .latest-release .list li h5{
    margin-left: 10px;
    margin-top: 55px;
    line-height: 20px;
}

header .song .latest-release .list li h5 .subtitle{
    color: #4c5262;
}

header .song .latest-release .list li span{
    margin-left: 120px;
    margin-top: 10px;
}

header .song .latest-release .list li span div{
    font-size: 10px;
    margin-top: 10px;
}

/* genres */

header .song .genres{
    width: 100%;
    height: 500px;
    position: relative;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header .song .genres img{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

header .song .genres img:hover {
    transform: scale(1.1);
}

/* latest english */
header .song .latest-english{
    width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

header .song .latest-english .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
}

header .song .latest-english .heading h4{
    font-size: 20px;
}

header .song .latest-english .heading span i{
    cursor: pointer;
    color: #4c5262;
    transition: 0.3s linear;
    margin: 0px 10px 0px 10px;
}

header .song .latest-english .heading span i:hover{
    color: #fff;
}

header .song .latest-english .english-song{
    display: flex;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
}

header .song .latest-english .english-song::-webkit-scrollbar {
    display: none;
}

header .song .latest-english .english-song .song-item{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 180px;
    list-style: none;
    margin-right: 10px;
    transition: 0.3s linear;
}

header .song .latest-english .english-song .song-item:hover{
    background: rgb(105, 105, 170, 0.1);
}

header .song .latest-english .english-song .song-item .image-play{
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .song .latest-english .english-song .song-item .image-play img{
    position: relative;
    height: 100%;
    width: 100%;
}

header .song .latest-english .english-song .song-item .image-play i{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 0;
}   

header .song .latest-english .english-song .song-item:hover .image-play i{
    opacity: 1;
}    

header .song .latest-english .english-song h5{
    padding: 5px 0px 0px 5px;
    font-size: 15px;
    line-height: 25px;
    width: 100px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}    

header .song .latest-english .english-song .song-item h5 .subtitle{
    color: #4c5262;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}  